<h1 class="offset1 pull-left">Add User</h1>

<div class="row">
  <div class="span6 offset1">
    <%= form_for @user do |f| %>
    <%= render "shared/flash_messages" %>
    <%= f.label :name %>
    <%= f.text_field :name %>    
    <%= f.label :email %>
    <%= f.text_field :email %>    
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <%= f.label :skill %>
    <ul>
      <%= f.fields_for :user_skills do |builder|%>
        
 <%= builder.check_box :skill_id, {checked: false},
                builder.object.skill.id, nil %> 
          <%=builder.object.skill.name%>
          <ul>
            <%= builder.fields_for :user_skill_details do |builder1|%>
              <%=render "skill_detail", 
                  build: builder1%>
            <% end%>
          </ul>
        
      <% end%>
    </ul>
    <%= f.submit "Add User",class: "btn btn-large btn-primary" %>
   <% end %>
  </div>
</div>